<!DOCTYPE html>
{% load static %}
<html lang="en">
       <head>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Title Page</title>

         <!-- Bootstrap CSS -->
         <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
         <link href="{% static 'style.css' %}" rel="stylesheet">

         <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
         <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
         <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
         <![endif]-->
       </head>
       <body>
               <nav class="navbar navbar-inverse navbar-fixed-top  " role="navigation">
         <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="#">CC-JOBS</a>
          </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
                 <ul class="nav navbar-nav nav1">

                  <li><a href="#" class="active">About Us</a></li>
                  <li><a href="#">Trainings</a></li>
                  <li><a href="#">Partnerships</a></li>
                  <li><a href="#">Mission & Vision</a></li>
                  <li><a href="#">Announcements</a></li>
                 </ul>

                 <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">join us</a></li>
                  <!--<li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                   <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                   </ul>
                 </li>-->
                 </ul>
          </div><!-- /.navbar-collapse -->
               </nav>
               <div class="container">


               <div class="container-fluid">

                               <div id="mycarousel" class="carousel slide" data-ride="carousel class="car2"">
                  <div class="carousel-inner landscape">
                      <div class="item active">
                      <img src="{% static 'cristiano.jpg' %}" class="image-responsive" alt="">
                         <div class="carousel-caption">
                         <h2>creating jobs for the future</h2>
                         <a href=""class="btn btn-primary">Join Trainings</a>
                         </div>
                      </div>
                  </div>
              </div>

                  <!-- <img src="{% static 'cristiano.jpg' %}" alt=""> -->







             <div class="container-fluid">


             <div class="row">
               <h2> OUR COMMUNITY</h2>
               <div class="col-md-3 col-md-offset-1">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



             </div>
                  </div>

               <br>
               <br>




            <div class=" row">
              <h2>ARTICLES</h2>

            {% for article in article_list %}
            <div class="col-md-3 col-md-offset-1">



            <div class="row">




              <div class=" col-md-12 div1 word">





                <a href="{% url 'app:article_detail' pk=article.pk %}">

                <img  class="thumbnail" src="{{ article.thumb.url }}" alt="hello"></a>


                  <h2>{{ article.title}} </h2>
                  <p>{{article.slug}}</p>


              </div>
            </div>

              </div>
              {% endfor %}
                </div>











          <br>
          <br>

            <div class="row activ">
              <h2>ACTIVITIES</h2>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              {%  for activity in activity_list %}
           <div class="col-md-3 col-md-offset-1">



              <div class="row">


              <div class="col-md-4   ">
                    <video name='demo' controls autoplay width='50%' height='40%'>
                    <source src="{{MEDIA_URL}}/{{activity.vid}}" type="video/mkv"></source>
                    </video>

              </div>
              </div>



            </div>
             {% endfor %}
            </div>



          <br>
          <br>

            <div class="row conus">
              <h2>CONTACT US</h2>
              <div class="col-md-8 col-md-offset-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>


              </div>
            </div>
          </div>
            </div>







        <!-- jQuery -->
        <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{% static 'bootstrap.min.js ' %}"></script>
  <!-- Your own javascript -->
  <script src="js/main.js"></script>
       </body>
</html>
